body{
    background-color: black;
    color: white;
}

h1{
    text-transform: uppercase;
    font-style: bold;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    text-align: center;
}

#meme-picture{
    border: 5px solid white;
    width: 100%;
}

